<p>signin works!</p>

<ng-container *ngIf="token$ | async; else tSignIn; let token">
    <div class="row">
        <div class="col-3">
            Welcome {{ decodeUserName(token) }}
        </div>
    </div>
    <div class="row">
        <div class="col-2 offset-1">
            <button class="btn btn-primary" (click)="logoff(token)">Sign Off</button>
        </div>
    </div>
</ng-container>

<ng-template #tSignIn>
    <div class="row mt-3">
        <div class="col-1 text-right">
            User:
        </div>
        <div class="col-2">
            <input type="text" name="username" [(ngModel)]="username">
        </div>
    </div>
    <div class="row">
        <div class="col-1 text-right"></div>
        <div class="col-2">
            <input type="password" name="password" [(ngModel)]="password">
        </div>
    </div>
    <div class="row">
        <div class="col-1 offset-1">
            <button class="btn btn-primary" (click)="login()">Sign In</button>
        </div>
    </div>
</ng-template>